body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Ensure background is explicitly set */
}

/* Sidebar styles */
.sidebar {
    height: 100vh; /* Full height */
    width: 250px; /* Sidebar width */
    position: fixed; /* Stay in place on scroll */
    background-color: #8C7ACE; /* Primary color */
    color: #8C7ACE; /* Text color */
    padding: 20px; /* Spacing around text */
    overflow: auto; /* Enables scrolling if content overflows */
}

/* Main content styles */
.content {
    margin-left: 300px; /* Offset to the right by the sidebar's width */
    padding: 20px; /* Spacing around content */
    background-color: white; /* Background color for content */
}

/* Styling for the sidebar navigation links */
.sidebar h1, .sidebar a {
    color:#E3DEFE; /* Text color for sidebar headings and links */
}

.sidebar a {
    text-decoration: none; /* No underlines on links */
    display: block; /* Makes links block level for easier clicking */
    padding: 8px; /* Padding for touch targets */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sidebar a:hover {
    background-color: white; /* Darker shade for hover */
}

/* Section heading styles */
h1, h2, h3, h4, h5, hr {
    color: #8C7ACE; /* Primary color for headings */
}

/* List style reset for sidebar */
ul {
    list-style-type: none; /* No bullets */
    padding: 0; /* Remove padding */
}

.sidebar img {
    width: 160px;  /* or your desired size */
    height: 170px;  /* must be the same as width to maintain aspect ratio */
    border-radius: 50%;  /* this creates the round shape */
    display: block;  /* ensures it centers in the sidebar */
    margin: 0 auto 20px;  /* centers the image horizontally and adds spacing below */
    border: 3px solid white;  /* optional, adds a white border around the image */
}

a {
    text-decoration: none;  /* Removes the underline */
    color: #8C7ACE;  /* Optional: Ensures links use the current text color */
}

.top-bar a, .main-content a {
    text-decoration: none;
    color: inherit;  /* Ensures the color matches the surrounding text or set a specific color */
}
ul {
    list-style-type: disc; /* Ensures the default disc-type bullet points are used */
    margin-left: 20px; /* Provides indentation to the list */
    padding-left: 0; /* Adjusts padding if necessary */
}
li {
    margin-bottom: 3px; /* Adds space below each list item */
    padding: 5px 0; /* Adds padding inside each list item for better readability */
}
.highlight {
    font-weight: bold; /* Makes text bold */
    color: #8C7ACE; /* Red color for highlighted text */
}

.album-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Creates a responsive grid layout */
    gap: 10px;
}

.album {
    cursor: pointer;
    position: relative;
    border-radius: 5px; /* Assuming you want rounded corners for the albums */
    overflow: hidden; /* Ensures nothing spills out, especially useful for rounded corners */
}

.album img {
    width: 100%;
    height: 200px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the area, useful for different aspect ratios */
}

.album-title {
    
    bottom: 0;
    color: #8C7ACE;
    width: 100%;
    
    text-align: center;
    padding: 5px;
}
@media (max-width: 768px) {
    .album-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    bottom: 0;
    width: 50%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content img {
    max-width: 100%; /* Ensures images do not exceed the modal width */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 10px; /* Adds space between images */
}


.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 55px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

