body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: milk white;
}

.sidebar {
    background-color: #a27eac;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    padding: 20px;
}

.sidebar h1 {
    margin-top: 0;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #915c8b;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #a27eac;
}
